# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{sh}]
indent_style = space
indent_size = 4

[*.{bat}]
indent_style = tab
indent_size = 4
end_of_line = crlf

# 4 space indentation
[*.{py,java,r,R}]
indent_style = space
indent_size = 4

[*.{cs}]
indent_style = space
indent_size = 4
end_of_line = crlf

[*.{c,cpp,h,hpp,hxx,h++,cc,hh,cxx,c++,C,H,HPP,HXX,H++,CC,HH,CXX,C++}]
indent_style = tab
indent_size = 4
end_of_line = crlf

# 2 space indentation
[*.{js,json,y{a,}ml,html,cwl}]
indent_style = space
indent_size = 2

[*.{md,Rmd,rst}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[*.proto]
indent_style = space
indent_size = 2
