[submodule "server/action-server3/externals/eventpp"]
	path = server/action-server3/externals/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "server/action-server3/externals/eigen"]
	path = server/action-server3/externals/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "client/potato/Assets/ExternalAssets"]
	path = client/potato/Assets/ExternalAssets
	url = https://github.com/ttynsmr/potato-external-assets.git
